@import "tailwindcss";

@theme {
  --color-text: #0f1009;
  --color-background: #f9f9f5;
  --color-primary: #99a163;
  --color-secondary: #a8ccba;
  --color-accent: #8fbcb6;

  --font-manrope: var(--font-manrope);
}

.dark {
  --color-text: #f5f6ef;
  --color-background: #0a0a06;
  --color-primary: #949c5e;
  --color-secondary: #335745;
  --color-accent: #43706a;
}

* {
  transition: background 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-manrope), "Manrope", sans-serif;
}

html {
  color: var(--color-text);
  background-color: var(--color-background);
}

